body {
	width: 80%;
	margin: auto;
}

.active {
	background-color: gray;
	color: white;
}

button {
	margin: 5px ;
}

.projects {
    column-count: 3;
    column-gap: 10px;
    margin: auto;

}

.image {
    width: 100%;
}